.about {
  display: flex;
  position: relative;
  transition: all 0.2s ease;

  .image {
    position: absolute;
    left: 15%;
    transition: all 0.2s ease;

    img {
      width: 650px;
      transition: all 0.2s ease;
    }

    @media (min-width: 1920px) {
      left: 20%;

      img {
        width: 800px;
      }
    }

    @media (max-width: 1500px) {
      top: 5%;
    }

    @media (max-width: 800px) {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 550px;
      }
    }

    @media (max-width: 600px) {
      img {
        width: 450px;
      }
    }

    @media (max-width: 500px) {
      img {
        width: 350px;
      }
    }

    @media (max-width: 350px) {
      img {
        width: 240px;
      }
    }
  }

  .info {
    z-index: 1;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.2s ease;

    .text {
      width: 650px;
      margin-right: 100px;
      transition: all 0.2s ease;

      h1 {
        margin-bottom: 10px;
        color: $primary;
        transition: all 0.2s ease;
      }

      .description {
        font-weight: 300;
        text-indent: 10px;
        transition: all 0.2s ease;

        b {
          color: $primary;
          font-style: italic;
          transition: all 0.2s ease;
        }
      }
    }

    .links {
      margin-top: 30px;
      margin-right: 50px;
      transition: all 0.2s ease;

      .link {
        display: flex;
        align-items: center;
        margin-top: 20px;
        transition: all 0.2s ease;

        #dash {
          margin: 0 5px;
          transition: all 0.2s ease;
        }

        .btn-wrapper {
          display: flex;
          align-items: center;

          #here {
            color: $primary;
            text-transform: uppercase;
            transition: all 0.2s ease;
          }

          .fa-arrow-right-long {
            margin: 0 10px;
            transition: all 0.2s ease;
          }

          .link-btn {
            border: none;
            outline: none;
            width: 150px;
            height: 30px;
            border-radius: 10px;
            background-color: rgb(0, 92, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: inherit;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.499);
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            .icon {
              margin-right: 10px;
              font-size: 1.3rem;
              color: rgba(255, 255, 255, 0.466);
              transition: all 0.1s ease-in-out;
            }

            #btn-name {
              color: rgba(255, 255, 255, 0.615);
              font-size: 0.9rem;
              transition: all 0.1s ease-in-out;
            }

            &:hover {
              box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.285);
              background-color: rgb(0, 105, 108);

              .icon {
                color: aliceblue;
              }

              #btn-name {
                color: aliceblue;
              }
            }

            &:active {
              box-shadow: 0 0 1px rgba(0, 0, 0, 0.285);
              background-color: rgb(74, 100, 101);
              transform: scale(0.95);

              .icon {
                font-size: 1.2rem;
                color: rgba(255, 255, 255, 0.466);
              }

              #btn-name {
                color: rgba(255, 255, 255, 0.615);
              }
            }
          }
        }
      }
    }

    @media (min-width: 1920px) {
      .text {
        width: 700px;
        margin-right: 200px;
        transition: all 0.2s ease;

        h1 {
          font-size: 2.5rem;
        }

        .description {
          font-size: large;
        }
      }

      .links {
        margin-top: 30px;
        margin-right: 70px;

        .link {
          margin-top: 40px;

          #name {
            font-size: 1.3rem;
          }

          #dash {
            margin: 0 10px;
            font-size: 1.3rem;
          }

          .btn-wrapper {
            #here {
              font-size: 1.3rem;
            }

            .fa-arrow-right-long {
              margin: 0 15px;
              font-size: 1.3rem;
            }

            .link-btn {
              width: 180px;
              height: 40px;
              box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.499);

              .icon {
                font-size: 1.8rem;
              }

              #btn-name {
                font-size: 1.3rem;
              }

              &:hover {
                box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.285);
              }

              &:active {
                .icon {
                  font-size: 1.7rem;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1500px) {
      height: 100vh;
      border-top: 5px solid rgb(7, 54, 50);
      background-color: rgba(38, 38, 38, 0.559);
      backdrop-filter: blur(18px);
      align-items: center;

      .text {
        margin-right: 0;
      }
    }

    @media (max-width: 700px) {
      z-index: 1;
      width: 100%;
      height: 90vh;

      .text {
        width: 100%;
        padding: 0 10px;
      }
    }

    @media (max-width: 500px) {
      backdrop-filter: blur(24px);

      .text {
        min-width: 240px;

        h1 {
          font-size: large;
        }

        .description {
          font-size: 0.7rem;
          color: aliceblue;
        }
      }

      .links {
        margin-right: 0;

        .link {
          flex-direction: column;

          &:not(:first-child) {
            margin-top: 40px;
          }

          #name {
            font-size: medium;
          }

          #dash {
            display: none;
          }

          .btn-wrapper {
            margin-top: 10px;

            #here {
              font-size: 0.7rem;
            }

            .fa-arrow-right-long {
              font-size: 0.7rem;
              margin: 0 5px;
            }

            .link-btn {
              width: 80px;
              height: 25px;
              border-radius: 7px;

              .icon {
                margin-right: 5px;
                font-size: 1.1rem;
              }

              #btn-name {
                font-size: 0.7rem;
              }

              &:hover {
                box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.285);
              }

              &:active {
                .icon {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
