.list-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.673);
  z-index: 100;
  animation: fade 0.2s ease-in;

  .list-modal-container {
    background-color: rgb(4, 44, 41);
    width: 880px;
    height: 500px;
    box-shadow: 0 0 28px rgba(5, 138, 127, 0.282);
    border-radius: 20px;
    border: 2px solid rgba(4, 86, 79, 0.559);
    border-top: 6px solid rgba(4, 86, 79, 0.559);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    animation: slideDown 0.2s ease-in;

    @media (max-width: 900px) {
      width: 95%;
    }

    @media (max-width: 750px) {
      height: 100%;
      width: 100%;
      border-radius: unset;
      justify-content: flex-start;
    }

    .fa-circle-xmark {
      position: absolute;
      right: 0;
      margin: 5px;
      color: $primary;
      font-size: 1.7rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $primary-hover;
      }
    }

    .header {
      padding: 10px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.282);
      text-transform: capitalize;
      color: rgb(183, 183, 183);
      transition: all 0.2s ease-in-out;

      h3 {
        transition: all 0.2s ease-in-out;
        span {
          font-style: italic;
          font-size: large;
          color: $primary;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 350px;
      position: relative;
      transition: all 0.2s ease-in-out;

      &::-webkit-scrollbar {
        display: none;
      }

      #err-msg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(227, 92, 92);
        padding: 10px;
        width: 50%;
        margin: 0 auto;
        min-width: 250px;
        z-index: 2;
        border-radius: 5px;
        box-shadow: 0 0 3px rgb(227, 92, 92);
        text-align: center;
        font-weight: 700;
        text-transform: capitalize;
      }

      #success-msg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(2, 132, 54);
        padding: 10px;
        width: 50%;
        margin: 0 auto;
        min-width: 250px;
        z-index: 2;
        border-radius: 5px;
        box-shadow: 0 0 3px rgb(2, 132, 54);
        text-align: center;
        font-weight: 700;
        text-transform: capitalize;
      }

      .spinner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #no-lists {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $warning;
        text-transform: capitalize;
        transition: all 0.2s ease-in-out;
      }

      .list,
      .list-active,
      .list-edit-state {
        box-shadow: 0 0 1px black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        border: 1px solid rgb(4, 44, 41);
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:not(:first-child) {
          margin-top: 10px;
        }

        .col1 {
          padding: 10px;
          display: flex;
          align-items: center;
          transition: all 0.2s ease-in-out;

          .icon {
            width: 50px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;

            .fa-folder {
              font-size: 2rem;
              transition: all 0.2s ease-in-out;
            }

            .fa-folder-open {
              font-size: 2rem;
              color: $success-hover;
              transition: all 0.2s ease-in-out;
            }
          }

          #list-name {
            margin-left: 10px;
            text-transform: capitalize;
            color: rgba(128, 128, 128, 0.47);
            transition: all 0.2s ease-in-out;
          }
        }

        .col2 {
          display: flex;
          align-items: center;
          height: 100%;
          transition: all 0.2s ease-in-out;

          .open-list {
            height: 100%;
            border-left: 1px solid rgba(128, 128, 128, 0.179);
            border-right: 1px solid rgba(128, 128, 128, 0.179);
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            .fa-arrow-up-right-from-square {
              transition: all 0.1s ease-in-out;
            }

            &:hover {
              background-color: rgba(240, 161, 58, 0.036);

              .fa-arrow-up-right-from-square {
                color: $primary;
                font-size: 1.3rem;
              }
            }
          }

          .edit {
            height: 100%;
            border-left: 1px solid rgba(128, 128, 128, 0.179);
            border-right: 1px solid rgba(128, 128, 128, 0.179);
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            .edit-icon {
              transition: all 0.1s ease-in-out;
            }

            &:hover {
              background-color: rgba(240, 161, 58, 0.036);

              .edit-icon {
                color: $warning;
                font-size: 1.3rem;
              }
            }
          }

          .delete {
            height: 100%;
            border-left: 1px solid rgba(128, 128, 128, 0.179);
            border-right: 1px solid rgba(128, 128, 128, 0.179);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            .del-icon {
              transition: all 0.1s ease-in-out;
            }

            &:hover {
              background-color: rgba(251, 0, 0, 0.095);

              .del-icon {
                color: $danger;
                font-size: 1.3rem;
              }
            }
          }
        }

        &:hover {
          background-color: rgb(4, 51, 48);
          border: 1px solid rgb(4, 51, 48);

          .col1 {
            #list-name {
              color: aliceblue;
              transition: all 0.2s ease-in;
            }
          }
        }
      }

      .list-active {
        // border: 1px solid $success;
        background-color: rgb(4, 51, 48);

        .col1 {
          #list-name {
            color: $success;
            transition: all 0.2s ease-in;
          }
        }

        &:hover {
          // border: 1px solid $success-hover;
          background-color: rgb(4, 63, 60);

          .col1 {
            #list-name {
              color: $success-hover;
            }
          }
        }
      }

      .list-edit-state {
        border: 1px solid $warning;
        background-color: rgba(126, 118, 3, 0.34);
        transition: all 0.2s ease-in-out;

        .col1 {
          transition: all 0.2s ease-in-out;
          .icon {
            .fa-folder,
            .fa-folder-open {
              color: $warning;
              transition: all 0.2s ease-in-out;
            }
          }

          #list-name {
            color: $warning;
            transition: all 0.2s ease-in;
            transition: all 0.2s ease-in-out;
          }
        }

        .col2 {
          transition: all 0.2s ease-in-out;
          .edit {
            cursor: default;
            background-color: rgba(240, 161, 58, 0.036);
            transition: all 0.2s ease-in-out;

            .edit-icon {
              color: $warning;
              font-size: 1.3rem;
              transition: all 0.2s ease-in-out;
            }
          }

          .delete {
            cursor: default;
            transition: all 0.2s ease-in-out;

            .del-icon {
              transition: all 0.1s ease-in-out;
              color: rgba(255, 255, 255, 0.311);
              transition: all 0.2s ease-in-out;
            }

            &:hover {
              background-color: transparent;

              .del-icon {
                color: rgba(255, 255, 255, 0.311);
                font-size: inherit;
              }
            }
          }
        }

        &:hover {
          border: 1px solid $warning-hover;
          background-color: rgba(126, 118, 3, 0.493);

          .col1 {
            .col1 {
              .icon {
                .fa-folder,
                .fa-folder-open {
                  color: $warning-hover;
                }
              }
            }

            #list-name {
              color: $warning-hover;
            }
          }
        }
      }
    }

    .footer,
    .edit-state-footer {
      height: 80px;
      border-top: 1px solid rgba(128, 128, 128, 0.282);
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;

      .create-list,
      .edit-list {
        padding: 0 10px;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in-out;

        input {
          width: 350px;
          transition: all 0.2s ease-in-out;
        }

        .btn-outline {
          margin-left: 10px;
          width: 150px;
          height: 35px;
          text-transform: uppercase;
          transition: all 0.2s ease-in-out;

          &:disabled {
            border-color: rgba(59, 75, 70, 0.485);
            color: rgba(59, 75, 70, 0.796);
            cursor: default;

            &:hover {
              background-color: transparent;
              border-color: rgba(59, 75, 70, 0.485);
              color: rgba(59, 75, 70, 0.796);
            }

            &:active {
              transform: none;
              border-color: rgba(59, 75, 70, 0.485);
              color: rgba(59, 75, 70, 0.796);
            }
          }
        }

        .create-btn {
          border-color: $success;
          color: $success;

          &:hover {
            background-color: rgba(127, 255, 212, 0.123);
            border-color: $success-hover;
            color: $success-hover;
          }
        }
      }
    }

    .edit-state-footer {
      background-color: rgba(181, 152, 40, 0.349);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      transition: all 0.2s ease-in-out;

      .edit-list {
        input {
          border-color: rgba(207, 164, 11, 0.358);
          background-color: rgba(84, 68, 7, 0.358);

          &:focus {
            background-color: rgba(30, 25, 1, 0.358);
          }
        }

        .btns {
          display: flex;

          .upd-btn {
            border-color: $warning;
            color: $warning;

            &:hover {
              background-color: rgba(255, 229, 127, 0.123);
              border-color: $warning-hover;
              color: $warning-hover;
            }

            &:disabled {
              border-color: rgba(124, 124, 124, 0.523);
              color: rgba(124, 124, 124, 0.523);

              &:hover {
                border-color: rgba(124, 124, 124, 0.523);
                color: rgba(124, 124, 124, 0.523);
              }

              &:active {
                border-color: rgba(124, 124, 124, 0.523);
                color: rgba(124, 124, 124, 0.523);
              }
            }
          }

          .cancel-btn {
            border-color: rgb(210, 210, 210);
            color: rgb(210, 210, 210);

            &:hover {
              background-color: rgba(255, 255, 255, 0.123);
              border-color: aliceblue;
              color: aliceblue;
            }

            &:disabled {
              border-color: rgba(124, 124, 124, 0.523);
              color: rgba(124, 124, 124, 0.523);

              &:hover {
                border-color: rgba(124, 124, 124, 0.523);
                color: rgba(124, 124, 124, 0.523);
              }

              &:active {
                border-color: rgba(124, 124, 124, 0.523);
                color: rgba(124, 124, 124, 0.523);
              }
            }
          }
        }
      }
    }

    @media (min-width: 1920px) {
      width: 1200px;
      height: 80vh;
      justify-content: flex-start;

      .fa-circle-xmark {
        font-size: 2rem;
      }

      .header {
        padding: 15px;

        h3 {
          font-size: 1.3rem;
          span {
            font-size: 1.5rem;
          }
        }
      }

      .body {
        height: 60vh;

        #no-lists {
          font-size: 1.5rem;
        }

        .list,
        .list-active,
        .list-edit-state {
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.589);
          margin: 10px auto;

          .col1 {
            .icon {
              width: 60px;
              height: 50px;

              .fa-folder {
                font-size: 2.5rem;
              }

              .fa-folder-open {
                font-size: 2.5rem;
              }
            }

            #list-name {
              font-size: 1.4rem;
            }
          }

          .col2 {
            .open-list {
              width: 70px;

              .fa-arrow-up-right-from-square {
                font-size: 1.5rem;
              }

              &:hover {
                .fa-arrow-up-right-from-square {
                  font-size: 1.3rem;
                }
              }
            }

            .edit {
              width: 70px;

              .edit-icon {
                font-size: 1.5rem;
              }

              &:hover {
                .edit-icon {
                  font-size: 1.3rem;
                }
              }
            }

            .delete {
              width: 70px;

              .del-icon {
                font-size: 1.5rem;
              }

              &:hover {
                .del-icon {
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
      }

      .footer,
      .edit-state-footer {
        flex: 1;

        .create-list,
        .edit-list {
          input {
            width: 550px;
            height: 60px;
            border-radius: 15px;
            font-size: 1.1rem;
          }

          .create-btn {
            width: 200px;
            height: 50px;
            font-size: 1.1rem;
          }
        }
      }

      .edit-state-footer {
        .edit-list {
          input {
            width: 700px;
          }

          .btns {
            .upd-btn {
              height: 50px;
              width: 200px;
              font-size: 1.2rem;
            }

            .cancel-btn {
              height: 50px;
              width: 200px;
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    @media (max-width: 750px) {
      .body {
        height: 70vh;
        padding: 20px 0;
      }

      .footer,
      .edit-state-footer {
        flex: 1;
      }

      .edit-state-footer {
        border-radius: unset;

        .edit-list {
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100%;

          input {
            width: 100%;
          }

          .btns {
            margin-top: 20px;
          }
        }
      }
    }

    @media (max-width: 550px) {
      .footer,
      .edit-state-footer {
        .create-list,
        .edit-list {
          width: 100%;
          flex-direction: column;

          input {
            width: 100%;
          }

          .create-btn {
            margin-left: 0;
            margin-top: 20px;
            width: 240px;
          }
        }
      }
    }

    @media (max-width: 500px) {
      .header {
        h3 {
          font-size: small;

          span {
            font-size: medium;
          }
        }
      }

      .body {
        #no-lists {
          font-size: small;
        }

        .list,
        .list-active,
        .list-edit-state {
          flex-direction: column;

          .col1 {
            align-self: flex-start;

            .icon {
              width: 50px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;

              .fa-folder {
                font-size: 2rem;
              }

              .fa-folder-open {
                font-size: 2rem;
                color: $success-hover;
              }
            }

            #list-name {
              margin-left: 10px;
              text-transform: capitalize;
              color: rgba(128, 128, 128, 0.47);
            }
          }

          .col2 {
            align-self: flex-end;
            height: 40px;

            .delete {
              border-top-right-radius: unset;
            }
          }
        }
      }
    }

    @media (max-width: 350px) {
      .edit-state-footer {
        .edit-list {
          .btns {
            .upd-btn {
              width: 70px;
              height: 30px;
              font-size: 0.7rem;
            }

            .cancel-btn {
              width: 70px;
              height: 30px;
              font-size: 0.7rem;
            }
          }
        }
      }
    }

    @media (max-width: 300px) {
      .fa-circle-xmark {
        font-size: 1.2rem;
      }

      .header {
        h3 {
          font-size: 0.7rem;

          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
