.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .main-nav-menu-btn {
    margin: 10px 20px;
  }

  img {
    width: 100px;
    margin: 10px;
  }

  nav {
    display: flex;
    padding: 20px;
    width: 40%;
    justify-content: space-between;
    align-items: flex-start;

    .nav-links {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(88, 88, 88);
      padding: 10px;

      a {
        font-size: 1.2rem;
        color: $light;
        font-weight: 300;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .auth {
    margin: 10px;

    .signed {
      display: flex;
      align-items: flex-end;
      position: relative;

      #username {
        color: $light;
        margin-right: 10px;
        text-transform: capitalize;
      }

      .box {
        border: 1px solid $light;
        width: 70px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        .user-icon {
          color: $light;
          width: 60%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          transition: all 0.2s ease-in-out;
        }

        .divider {
          width: 1px;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.204);
        }

        .caret-icon {
          color: $light;
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          background-color: rgba(240, 248, 255, 0.097);
          border-color: $primary;

          .user-icon {
            color: $lighter;
          }

          .caret-icon {
            color: $primary;
          }
        }
      }
    }

    .sign-in {
      border: 1px solid $light;
      width: 100px;
      height: 40px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      span {
        color: $light;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        background-color: rgba(240, 248, 255, 0.1);
        border-color: $lighter;

        span {
          color: $lighter;
        }
      }
    }
  }

  @media (min-width: 1920px) {
    img {
      width: 150px;
      margin-left: 50px;
    }

    nav {
      padding: 20px;
      width: 50%;

      .nav-links {
        width: 70%;
        padding: 10px;

        a {
          font-size: 1.5rem;
        }
      }
    }

    .auth {
      margin: 20px;

      .signed {
        #username {
          font-size: 1.1rem;
        }

        .box {
          width: 130px;
          height: 50px;

          .user-icon {
            font-size: 2.3rem;
            transition: all 0.1s ease-in-out;
          }

          .divider {
            background-color: rgba(255, 255, 255, 0.41);
          }

          .caret-icon {
            font-size: 1.5rem;
          }

          &:hover {
            .user-icon {
              font-size: 2.2rem;
            }
          }
        }
      }

      .sign-in {
        width: 130px;
        height: 50px;

        span {
          font-size: 1.3rem;
        }

        &:hover {
          span {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
