.account-container {
  min-height: 100vh;
  position: relative;

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(12px);
    z-index: 10;
  }

  .account-form-wrapper {
    width: 50%;
    position: absolute;
    top: 20%;
    right: 15%;

    form {
      width: 100%;

      .input-box {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
          margin-top: 30px;
        }
      }

      .submit-btn {
        margin-top: 50px;
        width: 150px;
        height: 40px;
        font-weight: 600;
        font-size: medium;

        @media (max-width: 400px) {
          width: 100%;
          height: 30px;
        }
      }
    }

    @media (max-width: 800px) {
      width: 100%;
      position: absolute;
      top: 15%;
      right: unset;

      form {
        width: 95%;
      }
    }
  }

  .delete-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $danger;
    box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.492);
    cursor: pointer;

    .fa-trash {
      font-size: 2rem;
      color: rgba(240, 248, 255, 0.747);
    }

    &:hover {
      box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.492);
      background-color: $danger-hover;

      .fa-trash {
        color: aliceblue;
        font-size: 1.5rem;
      }
    }

    @media (max-width: 800px) {
      width: 50px;
      height: 50px;
      transition: all 0.2s ease-in-out;

      .fa-trash {
        font-size: 1.5rem;
        transition: all 0.1s ease-in-out;
      }

      &:hover {
        box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.492);
        background-color: $danger-hover;

        .fa-trash {
          color: aliceblue;
          font-size: 1.6rem;
        }
      }

      &:active {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.492);
        background-color: rgb(160, 106, 106);
        transform: scale(0.95);

        .fa-trash {
          color: rgba(240, 248, 255, 0.422);
          font-size: 1.4rem;
        }
      }
    }
  }

  @media (min-width: 1920px) {
    .account-form-wrapper {
      top: 10%;

      form {
        .input-box {
          label {
            font-size: 1.5rem;
          }

          input {
            height: 80px;
            font-size: larger;
            border-radius: 20px;
          }
        }

        .submit-btn {
          width: 250px;
          height: 60px;
          font-size: 1.5rem;
        }
      }
    }

    .delete-btn {
      margin: 40px;
      width: 100px;
      height: 100px;

      .fa-trash {
        font-size: 3rem;
      }

      &:hover {
        .fa-trash {
          font-size: 2.5rem;
          transition: all 0.1s ease;
        }
      }
    }
  }
}
