.favorites-container {
  min-height: 100vh;
  position: relative;

  .nav-wrapper {
    position: absolute;
    top: 20%;
    width: 200px;
    height: 450px;
  }

  .fav-contents-wrapper {
    width: 80%;
    min-height: 80vh;
    float: right;
    margin-top: 50px;
    position: relative;

    .spinner {
      background-color: rgba(0, 0, 0, 0.589);
      backdrop-filter: blur(3px);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    #no-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: capitalize;
      color: $danger-hover;
    }

    .fav-content-config {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px;

      .col2 {
        display: flex;
        margin-right: 40px;

        .sort {
          display: flex;
          align-items: center;

          .arrows {
            margin-left: 10px;
            cursor: pointer;

            .fa-up-long,
            .fa-down-long {
              font-size: 1.2rem;
              color: rgba(1, 193, 180, 0.423);
            }

            .up-arrow-active,
            .down-arrow-active {
              color: rgba(1, 193, 180, 0.975);
            }
          }
        }
      }
    }

    .cards-wrapper {
      border-top: 5px solid rgba(127, 255, 212, 0.111);
      border-top-left-radius: 20px;
      padding: 30px 0;

      .fav-content-card {
        position: relative;
        display: flex;
        background-color: rgb(3, 32, 30);
        height: 350px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 10px;

        &:nth-child(odd) {
          background-color: rgb(3, 41, 39);
        }

        &:not(:first-child) {
          margin-top: 10px;
        }

        .col1 {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;

          .image,
          .pulsing-img {
            width: 200px;
            height: 300px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.558);

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .pulsing-img {
            background-image: url("@/assets/images/movie-poster-placeholder.png");
            background-position: center;
            background-size: cover;
            position: relative;

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              background-color: rgba(240, 248, 255, 0.4);
              animation: pulsing 2s ease-in-out infinite;
            }
          }
        }

        .col2 {
          flex: 1;

          .row1 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .row1-col1 {
              display: flex;
              align-items: center;

              #title {
                color: $primary;
                text-transform: capitalize;
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                }
              }

              #year {
                margin-left: 10px;
                color: $textColor;
              }
            }

            .row1-col2 {
              #type {
                color: $textColor;
                text-transform: capitalize;
              }
            }
          }

          .row2 {
            #genre {
              color: $textColor;
              font-size: small;
              &:not(:first-child) {
                margin-left: 20px;
              }
            }
          }

          .row3 {
            display: flex;
            margin-top: 10px;

            .user-rating {
              .rated {
                cursor: pointer;

                .user-star {
                  color: $primary;
                  font-size: 0.9rem;
                  transition: all 0.2s ease-in-out;
                }

                #value {
                  font-size: 0.9rem;
                  font-family: "Courier New", Courier, monospace;
                  margin-left: 3px;

                  span {
                    color: $textColor;
                  }
                }
              }

              .unrated {
                cursor: pointer;

                .unrated-star {
                  color: $primary;
                  font-size: 0.9rem;
                  transition: all 0.2s ease-in-out;
                }
              }

              &:hover {
                .rated {
                  .user-star {
                    color: $primary-hover;
                  }
                }

                .unrated {
                  .unrated-star {
                    color: $primary-hover;
                  }
                }
              }
            }

            .avg-rating {
              margin-left: 40px;

              .avg-star {
                color: $warning;
                font-size: 0.9rem;
              }

              #value {
                font-size: 0.9rem;
                font-family: "Courier New", Courier, monospace;
                margin-left: 3px;

                span {
                  color: $textColor;
                }
              }
            }
          }

          .row4 {
            margin-top: 5px;

            #date {
              font-size: small;
              color: $textColor;
            }
          }

          .row5 {
            margin-top: 10px;

            #description {
              font-size: small;
              color: $textColor;
            }
          }

          .row6 {
            margin-top: 10px;

            .directors {
              display: flex;
              align-items: center;

              b {
                font-size: 0.8rem;
                color: $primary;
              }

              #name {
                font-size: small;
                margin-left: 10px;
                color: $textColor;

                &:not(:last-child) {
                  &::after {
                    content: ",";
                  }
                }
              }
            }

            .stars {
              margin-top: 10px;
              display: flex;
              align-items: center;

              b {
                color: $primary;
                font-size: 0.8rem;
              }

              .names {
                flex: 1;
                display: flex;
                flex-wrap: wrap;

                #name {
                  color: $textColor;
                  text-transform: capitalize;
                  margin-left: 10px;
                  font-size: small;

                  &:not(:last-child) {
                    &::after {
                      content: ",";
                    }
                  }
                }
              }
            }
          }

          .row7 {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 20px;

            .fav-icon {
              width: 50px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;

              .fa-heart {
                font-size: 2.5rem;
                color: rgb(4, 80, 80);
                cursor: pointer;
                transition: all 0.1s ease-in-out;
              }

              .heart-beat {
                animation: heart 400ms infinite;
              }

              &:hover {
                .fa-heart {
                  color: rgb(2, 112, 112);
                  font-size: 2.6rem;
                }
              }

              @keyframes heart {
                0% {
                  transform: scale(0.9);
                  color: $primary;
                }
                50% {
                  transform: scale(1);
                  color: $primary-hover;
                }
                100% {
                  transform: scale(0.9);
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  }
}
