.listitems-container {
  min-height: 100vh;
  position: relative;
  transition: all 0.2s ease-in-out;

  .listitems-wrapper {
    width: 80%;
    min-height: 80vh;
    float: right;
    margin-top: 50px;
    position: relative;
    transition: all 0.2s ease-in-out;

    .spinner {
      background-color: rgba(0, 0, 0, 0.589);
      backdrop-filter: blur(3px);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 11;
    }

    #no-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: capitalize;
      color: $danger-hover;
    }

    .list-title {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;

      h1 {
        word-wrap: break-word;
        text-transform: capitalize;
        color: $primary;
        text-shadow: 2px 3px 1px rgba(8, 155, 157, 0.484);
        letter-spacing: 2px;
        transition: all 0.2s ease-in-out;
      }

      .fa-pencil {
        margin-left: 20px;
        font-size: 1.3rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        color: rgba(240, 248, 255, 0.496);
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(216, 172, 9, 0.089);
          color: $warning;
          font-size: 1.4rem;
        }
      }
    }

    .listitems-config {
      margin: 10px;
      transition: all 0.2s ease-in-out;

      .marked-state {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s ease-in-out;

        .col1 {
          display: flex;
          align-items: center;
          transition: all 0.2s ease-in-out;

          .checkbox[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: rgb(2, 67, 63);
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1em;
            height: 1em;
            border: 0.1em solid rgb(2, 99, 92);
            border-radius: 0.15em;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
            font-size: 2rem;
            transition: all 0.2s ease-in-out;

            &::before {
              content: "";
              width: 0.7em;
              height: 0.7em;
              transform: scale(0);
              transition: 120ms transform ease-in-out;
              box-shadow: inset 1em 1em $success;
            }

            &:checked::before {
              transform: scale(1);
            }
          }
        }

        .col2 {
          display: flex;
          align-items: center;
          margin-right: 20px;
          transition: all 0.2s ease-in-out;

          .del-btn {
            margin-right: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            background-color: $danger-hover;
            cursor: pointer;
            box-shadow: 2px 2px 6px black;
            transition: all 0.2s ease-in-out;

            .fa-trash {
              color: rgb(247, 173, 173);
              font-size: 1.3rem;
              transition: all 0.1s ease-in-out;
            }

            &:hover {
              box-shadow: 2px 2px 18px black;
              background-color: $danger;

              .fa-trash {
                color: aliceblue;
                font-size: 1.4rem;
              }
            }

            &:active {
              box-shadow: 0 0 6px black;
              background-color: rgb(227, 125, 125);
              transform: scale(0.95);

              .fa-trash {
                color: rgb(247, 173, 173);
                font-size: 1.2rem;
              }
            }

            &:disabled {
              background-color: rgba(235, 143, 143, 0.404);
            }
          }

          span {
            color: rgb(243, 162, 162);
            transition: all 0.2s ease-in-out;
          }
        }

        @media (max-width: 500px) {
          .col1 {
            label {
              font-size: small;
              margin-left: 5px;
            }

            .checkbox[type="checkbox"] {
              width: 0.8em;
              height: 0.8em;
              border: 2px solid rgb(2, 99, 92);

              &::before {
                width: 0.6em;
                height: 0.6em;
                box-shadow: inset 0.6em 0.6em $success;
              }
            }
          }

          .col2 {
            margin-right: 0;

            .del-btn {
              margin-right: 5px;
              width: 30px;
              height: 30px;

              .fa-trash {
                font-size: 0.9rem;
              }

              &:hover {
                .fa-trash {
                  font-size: 1rem;
                }
              }

              &:active {
                .fa-trash {
                  font-size: 0.8rem;
                }
              }
            }

            span {
              font-size: small;
            }
          }

          @media (max-width: 300px) {
            .col1 {
              label {
                font-size: 0.6rem;
              }
            }

            .col2 {
              span {
                font-size: 0.6rem;
              }
            }
          }
        }
      }

      .normal-state {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.2s ease-in-out;

        .col2 {
          width: 40%;
          position: relative;
          transition: all 0.2s ease-in-out;

          .search-bar {
            width: 100%;
            display: flex;
            position: relative;
            transition: all 0.2s ease-in-out;

            input {
              width: 100%;
              border: none;
              outline: none;
              padding: 0 10px;
              border-radius: 15px;
              font-family: inherit;
              box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.414);
              opacity: 0.7;
              font-size: medium;
              transition: all 0.2s ease;

              &:hover {
                opacity: 1;
              }

              &:focus {
                box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.814);
                opacity: 1;
              }
            }

            .icon {
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              margin: 0 10px;
              font-size: 1.2rem;
              color: rgb(0, 101, 104);
              transition: all 0.2s ease-in-out;
            }
          }

          .search-result-container {
            background-color: rgb(1, 51, 48);
            height: 350px;
            position: absolute;
            width: 100%;
            z-index: 11;
            box-shadow: 0 12px 20px -4px rgba(0, 0, 0, 0.474);
            border: 4px solid rgb(10, 64, 60);
            border-top: unset;
            margin-top: 5px;
            border-radius: 20px;
            overflow-y: scroll;
            transition: all 0.2s ease-in-out;

            &::-webkit-scrollbar {
              display: none;
            }

            .add-listitem-spinner {
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: rgba(0, 0, 0, 0.363);
              backdrop-filter: blur(6px);
              transition: all 0.2s ease-in-out;

              span {
                margin-top: 10px;
                text-transform: uppercase;
                color: $textColor;
                transition: all 0.2s ease-in-out;
              }
            }

            .search-result-spinner {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.2s ease-in-out;
            }

            #no-result {
              color: $danger-hover;
              text-transform: capitalize;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            .search-result {
              display: flex;
              align-items: center;
              box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.415);
              padding: 10px;
              margin: 15px 0;
              cursor: pointer;
              transition: all 0.2s ease-in-out;

              &:hover {
                background-color: rgb(1, 61, 58);
              }

              .image {
                width: 60px;
                height: 80px;
                background-color: azure;
                transition: all 0.2s ease-in-out;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  transition: all 0.2s ease-in-out;
                }
              }

              .info {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 20px;
                transition: all 0.2s ease-in-out;

                #item-title {
                  width: 80%;
                  color: $primary;
                  text-transform: capitalize;
                  transition: all 0.2s ease-in-out;
                }

                #year {
                  width: 100px;
                  text-align: center;
                  margin-left: 5px;
                  color: $textColor;
                  font-size: small;
                  transition: all 0.2s ease-in-out;
                }
              }

              @media (max-width: 1000px) {
                .info {
                  #item-title {
                    font-size: 0.6rem;
                  }

                  #year {
                    width: 70px;
                    font-size: 0.6rem;
                  }
                }
              }
            }
          }
        }

        .col3 {
          display: flex;
          margin-right: 40px;
          transition: all 0.2s ease-in-out;

          .sort {
            display: flex;
            align-items: center;
            transition: all 0.2s ease-in-out;

            .arrows {
              margin-left: 10px;
              cursor: pointer;
              transition: all 0.2s ease-in-out;

              .fa-up-long,
              .fa-down-long {
                font-size: 1.2rem;
                color: rgba(1, 193, 180, 0.423);
                transition: all 0.2s ease-in-out;
              }

              .up-arrow-active,
              .down-arrow-active {
                color: rgba(1, 193, 180, 0.975);
                transition: all 0.2s ease-in-out;
              }
            }
          }
        }

        @media (max-width: 800px) {
          .col3 {
            margin-right: 0;
          }
        }
      }
    }

    .cards-wrapper {
      border-top: 5px solid rgba(127, 255, 212, 0.111);
      border-top-left-radius: 20px;
      padding: 30px 0;
      transition: all 0.2s ease-in-out;

      .listitem,
      .listitem-selected {
        position: relative;
        display: flex;
        background-color: rgb(3, 32, 30);
        min-height: 350px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 10px;
        transition: all 0.2s ease-in-out;

        &:nth-child(odd) {
          background-color: rgb(3, 41, 39);
        }

        &:not(:first-child) {
          margin-top: 10px;
        }

        .col1 {
          z-index: 9;
          transition: all 0.2s ease-in-out;

          .checkbox[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: rgb(2, 67, 63);
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1em;
            height: 1em;
            border: 0.1em solid rgb(2, 99, 92);
            border-radius: 0.15em;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
            font-size: 2rem;
            transition: all 0.2s ease-in-out;

            &::before {
              content: "";
              width: 0.7em;
              height: 0.7em;
              transform: scale(0);
              transition: 120ms transform ease-in-out;
              box-shadow: inset 1em 1em $success;
            }

            &:checked::before {
              transform: scale(1);
            }
          }
        }

        .col2 {
          width: 250px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease-in-out;

          .image,
          .pulsing-img {
            width: 200px;
            height: 300px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.558);
            transition: all 0.2s ease-in-out;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.2s ease-in-out;
            }
          }

          .pulsing-img {
            background-image: url("@/assets/images/movie-poster-placeholder.png");
            background-position: center;
            background-size: cover;
            position: relative;

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              background-color: rgba(240, 248, 255, 0.4);
              animation: pulsing 2s ease-in-out infinite;
            }
          }
        }

        .col3 {
          flex: 1;
          transition: all 0.2s ease-in-out;

          .row1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all 0.2s ease-in-out;

            .row1-col1 {
              display: flex;
              align-items: center;
              width: 80%;
              transition: all 0.2s ease-in-out;

              #title {
                color: $primary;
                text-transform: capitalize;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                  text-decoration: underline;
                }
              }

              #year {
                width: 150px;
                margin-left: 10px;
                color: $textColor;
                transition: all 0.2s ease-in-out;
              }

              @media (max-width: 1200px) {
                flex-direction: column;
                align-items: flex-start;

                #year {
                  width: auto;
                  margin-left: 0;
                  margin: 5px 0;
                }
              }
            }

            .row1-col2 {
              #type {
                color: $textColor;
                text-transform: capitalize;
                transition: all 0.2s ease-in-out;
              }
            }
          }

          .row2 {
            #genre {
              color: $textColor;
              font-size: small;
              transition: all 0.2s ease-in-out;
              &:not(:first-child) {
                margin-left: 20px;
              }
            }
          }

          .row3 {
            display: flex;
            margin-top: 10px;
            transition: all 0.2s ease-in-out;

            .user-rating {
              .rated {
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                .user-star {
                  color: $primary;
                  font-size: 0.9rem;
                  transition: all 0.2s ease-in-out;
                }

                #value {
                  font-size: 0.9rem;
                  font-family: "Courier New", Courier, monospace;
                  margin-left: 3px;
                  transition: all 0.2s ease-in-out;

                  span {
                    color: $textColor;
                    transition: all 0.2s ease-in-out;
                  }
                }
              }

              .unrated {
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                .unrated-star {
                  color: $primary;
                  font-size: 0.9rem;
                  transition: all 0.2s ease-in-out;
                }
              }

              &:hover {
                .rated {
                  .user-star {
                    color: $primary-hover;
                  }
                }

                .unrated {
                  .unrated-star {
                    color: $primary-hover;
                  }
                }
              }
            }

            .avg-rating {
              margin-left: 40px;
              transition: all 0.2s ease-in-out;

              .avg-star {
                color: $warning;
                font-size: 0.9rem;
                transition: all 0.2s ease-in-out;
              }

              #value {
                font-size: 0.9rem;
                font-family: "Courier New", Courier, monospace;
                margin-left: 3px;
                transition: all 0.2s ease-in-out;

                span {
                  color: $textColor;
                  transition: all 0.2s ease-in-out;
                }
              }
            }
          }

          .row4 {
            margin-top: 5px;
            transition: all 0.2s ease-in-out;

            #date {
              font-size: small;
              color: $textColor;
              transition: all 0.2s ease-in-out;
            }
          }

          .row5 {
            margin-top: 10px;
            transition: all 0.2s ease-in-out;

            #description {
              font-size: small;
              color: $textColor;
              transition: all 0.2s ease-in-out;
            }
          }

          .row6 {
            margin-top: 10px;
            transition: all 0.2s ease-in-out;

            .directors {
              display: flex;
              align-items: center;
              transition: all 0.2s ease-in-out;

              b {
                font-size: 0.8rem;
                color: $primary;
                transition: all 0.2s ease-in-out;
              }

              #name {
                font-size: small;
                margin-left: 10px;
                color: $textColor;
                transition: all 0.2s ease-in-out;

                &:not(:last-child) {
                  &::after {
                    content: ",";
                  }
                }
              }
            }

            .stars {
              margin-top: 10px;
              display: flex;
              align-items: center;
              transition: all 0.2s ease-in-out;

              b {
                color: $primary;
                font-size: 0.8rem;
                transition: all 0.2s ease-in-out;
              }

              .names {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                transition: all 0.2s ease-in-out;

                #name {
                  color: $textColor;
                  text-transform: capitalize;
                  margin-left: 10px;
                  font-size: small;
                  transition: all 0.2s ease-in-out;

                  &:not(:last-child) {
                    &::after {
                      content: ",";
                    }
                  }
                }
              }
            }
          }

          .row7 {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 20px;
            transition: all 0.2s ease-in-out;

            .fav-icon {
              width: 50px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.2s ease-in-out;

              .fa-heart {
                font-size: 2.5rem;
                color: rgb(4, 80, 80);
                cursor: pointer;
                transition: all 0.1s ease-in-out;
              }

              .heart-beat {
                animation: heart 400ms infinite;
              }

              &:hover {
                .fa-heart {
                  color: rgb(2, 112, 112);
                  font-size: 2.6rem;
                }
              }

              @keyframes heart {
                0% {
                  transform: scale(0.9);
                  color: $primary;
                }
                50% {
                  transform: scale(1);
                  color: $primary-hover;
                }
                100% {
                  transform: scale(0.9);
                  color: $primary;
                }
              }
            }
          }
        }
      }

      .listitem-selected {
        border: 3px dotted rgb(5, 177, 165);
        border-right: unset;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          border-top-right-radius: unset;
          border-bottom-right-radius: unset;
          background-color: rgba(2, 168, 157, 0.273);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    @media (min-width: 1920px) {
      .list-title {
        h1 {
          font-size: 2.5rem;
        }

        .fa-pencil {
          font-size: 1.8rem;
          width: 70px;
          height: 70px;

          &:hover {
            font-size: 1.6rem;
          }
        }
      }

      .listitems-config {
        .marked-state {
          .col1 {
            label {
              font-size: 1.3rem;
            }

            .checkbox[type="checkbox"] {
              width: 1.3em;
              height: 1.3em;

              &::before {
                width: 0.9em;
                height: 0.9em;
              }
            }
          }

          .col2 {
            .del-btn {
              margin-right: 10px;
              width: 80px;
              height: 80px;

              .fa-trash {
                font-size: 2.5rem;
              }

              &:hover {
                .fa-trash {
                  font-size: 2rem;
                }
              }

              &:active {
                .fa-trash {
                  font-size: 1.8rem;
                }
              }
            }

            span {
              font-size: 1.3rem;
            }
          }

          @media (max-width: 500px) {
            .col1 {
              label {
                font-size: small;
                margin-left: 5px;
              }

              .checkbox[type="checkbox"] {
                width: 0.8em;
                height: 0.8em;
                border: 2px solid rgb(2, 99, 92);

                &::before {
                  width: 0.6em;
                  height: 0.6em;
                  box-shadow: inset 0.6em 0.6em $success;
                }
              }
            }

            .col2 {
              margin-right: 0;

              .del-btn {
                margin-right: 5px;
                width: 30px;
                height: 30px;

                .fa-trash {
                  font-size: 0.9rem;
                }

                &:hover {
                  .fa-trash {
                    font-size: 1rem;
                  }
                }

                &:active {
                  .fa-trash {
                    font-size: 0.8rem;
                  }
                }
              }

              span {
                font-size: small;
              }
            }

            @media (max-width: 300px) {
              .col1 {
                label {
                  font-size: 0.6rem;
                }
              }

              .col2 {
                span {
                  font-size: 0.6rem;
                }
              }
            }
          }
        }

        .normal-state {
          .col1 {
            span {
              font-size: 1.5rem;
            }
          }

          .col2 {
            .search-bar {
              input {
                height: 60px;
                font-size: 1.2rem;
              }

              .icon {
                font-size: 1.8rem;
              }
            }

            .search-result-container {
              height: 550px;

              #no-result {
                font-size: 1.5rem;
              }

              .search-result {
                margin: 20px 0;

                .image {
                  width: 100px;
                  height: 140px;
                }

                .info {
                  margin-left: 10px;

                  #item-title {
                    font-size: 1.2rem;
                  }

                  #year {
                    width: 130px;
                    font-size: large;
                  }
                }
              }
            }
          }

          .col3 {
            .sort {
              span {
                font-size: 1.3rem;
              }

              .arrows {
                .fa-up-long,
                .fa-down-long {
                  font-size: 1.8rem;
                }
              }
            }
          }
        }
      }

      .cards-wrapper {
        .listitem,
        .listitem-selected {
          padding: 20px;
          &:not(:first-child) {
            margin-top: 20px;
          }

          .col2 {
            width: 350px;

            .image,
            .pulsing-img {
              width: 300px;
              height: 430px;
            }
          }

          .col3 {
            .row1 {
              .row1-col1 {
                #title {
                  font-size: 1.8rem;
                }

                #year {
                  font-size: 1.3rem;
                  margin-left: 20px;
                }
              }

              .row1-col2 {
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgb(2, 75, 75);
                width: 120px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom-left-radius: 20px;

                #type {
                  font-size: 1.3rem;
                }
              }
            }

            .row2 {
              margin-top: 10px;
              #genre {
                font-size: large;
              }
            }

            .row3 {
              margin-top: 20px;

              .user-rating {
                .rated {
                  .user-star {
                    font-size: 1.5rem;
                  }

                  #value {
                    font-size: 1.3rem;
                    margin-left: 5px;

                    span {
                      font-size: 1.4rem;
                    }
                  }
                }

                .unrated {
                  .unrated-star {
                    font-size: 1.5rem;
                  }
                }
              }

              .avg-rating {
                .avg-star {
                  font-size: 1.5rem;
                }

                #value {
                  font-size: 1.3rem;
                  margin-left: 5px;

                  span {
                    font-size: 1.4rem;
                  }
                }
              }
            }

            .row4 {
              margin-top: 15px;

              #date {
                font-size: 1.3rem;
              }
            }

            .row5 {
              margin-top: 20px;

              #description {
                font-size: large;
                padding-right: 10px;
                text-indent: 10px;
              }
            }

            .row6 {
              margin-top: 20px;

              .directors {
                b {
                  font-size: 1.2rem;
                }

                #name {
                  font-size: medium;
                }
              }

              .stars {
                margin-top: 20px;

                b {
                  color: $primary;
                  font-size: 1.2rem;
                }

                .names {
                  #name {
                    font-size: medium;
                  }
                }
              }
            }

            .row7 {
              .fav-icon {
                width: 60px;
                height: 50px;

                .fa-heart {
                  font-size: 3rem;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1000px) {
      width: 100%;

      .list-title {
        padding: 10px;
        margin-top: 100px;

        @media (max-width: 800px) {
          margin-top: 30px;

          h1 {
            font-size: large;
            text-shadow: 1px 1px 1px rgba(8, 155, 157, 0.484);
            letter-spacing: 1px;
          }

          .fa-pencil {
            margin-left: 10px;
            width: 40px;
            height: 40px;
            background-color: rgba(216, 172, 9, 0.089);
            color: $warning;
            font-size: 1.1rem;
          }
        }
      }

      .cards-wrapper {
        padding: 30px 10px;

        .listitem,
        .listitem-selected {
          border-radius: 10px;

          .col1 {
            .checkbox[type="checkbox"] {
              width: 0.8em;
              height: 0.8em;
              border: 2px solid rgb(2, 99, 92);

              &::before {
                width: 0.6em;
                height: 0.6em;
                box-shadow: inset 0.6em 0.6em $success;
              }
            }
          }

          .col2 {
            width: 170px;

            .image,
            .pulsing-img {
              width: 150px;
              height: 220px;
            }
          }

          .col3 {
            .row1 {
              .row1-col1 {
                display: flex;
                align-items: flex-start;
                width: 80%;

                #title {
                  font-size: medium;
                }

                #year {
                  margin: 0;
                  margin-top: 5px;
                  font-size: small;
                }
              }

              .row1-col2 {
                #type {
                  font-size: small;
                }
              }
            }

            .row2 {
              #genre {
                font-size: 0.7rem;
                &:not(:first-child) {
                  margin-left: 10px;
                }
              }
            }

            .row3 {
              margin-top: 5px;

              .user-rating {
                .rated {
                  #value {
                    font-size: 0.7rem;

                    span {
                      color: $textColor;
                      font-size: 0.8rem;
                    }
                  }
                }
              }

              .avg-rating {
                #value {
                  font-size: 0.7rem;

                  span {
                    color: $textColor;
                    font-size: 0.8rem;
                  }
                }
              }
            }

            .row4 {
              #date {
                font-size: 0.7rem;
              }
            }

            .row5 {
              #description {
                font-size: 0.6rem;
              }
            }

            .row6 {
              .directors {
                b {
                  font-size: 0.7rem;
                }

                #name {
                  font-size: 0.6rem;
                  margin-left: 5px;
                }
              }

              .stars {
                b {
                  font-size: 0.7rem;
                }

                .names {
                  #name {
                    margin-left: 5px;
                    font-size: 0.6rem;
                  }
                }
              }
            }

            .row7 {
              margin: 10px;

              .fav-icon {
                width: 40px;
                height: 30px;

                .fa-heart {
                  font-size: 1.8rem;
                }

                &:hover {
                  .fa-heart {
                    font-size: 1.9rem;
                  }
                }
              }
            }
          }
        }

        .listitem-selected {
          border: 3px dotted rgb(5, 177, 165);

          &::after {
            border-radius: 10px;
          }
        }
      }
    }

    @media (max-width: 600px) {
      .listitems-config {
        .normal-state {
          flex-direction: column;

          .col1 {
            order: 1;
            align-self: flex-start;

            span {
              font-size: small;
            }
          }

          .col2 {
            order: -1;
            width: 100%;

            .search-bar {
              input {
                font-size: small;
              }
            }
          }

          .col3 {
            align-self: flex-end;
            margin-top: 20px;

            .sort {
              span {
                font-size: 0.7rem;
              }

              .arrows {
                margin-left: 5px;

                .fa-up-long,
                .fa-down-long {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }

      .cards-wrapper {
        .listitem,
        .listitem-selected {
          flex-direction: column;
          min-width: 240px;
          width: 100%;

          .col2 {
            width: 100%;
            margin-top: 30px;

            .image,
            .pulsing-img {
              width: 200px;
              height: 300px;
            }
          }

          .col3 {
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .row1 {
              width: 100%;

              .row1-col1 {
                align-items: center;
                width: 100%;

                #title {
                  text-align: center;
                }

                #year {
                  width: auto;
                  margin-left: 0;
                }
              }

              .row1-col2 {
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgb(2, 75, 75);
                width: 70px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 20px;

                #type {
                  font-size: small;
                }
              }
            }

            .row6 {
              .stars {
                .names {
                  width: 100%;
                }
              }
            }

            .row7 {
              top: 0;
              left: 10%;
              width: 40px;
              height: 30px;
              margin: 5px;

              @media (max-width: 400px) {
                left: 20%;
              }
            }
          }
        }
      }
    }
  }
}
