$contentCardWidthLg: 350px;
$contentCardHeightLg: 650px;
$contentCardImageHeightLg: 490px;

$contentCardWidth: 250px;
$contentCardHeight: 450px;
$contentCardImageHeight: 360px;

$contentCardWidthSm: 170px;
$contentCardHeightSm: 350px;
$contentCardImageHeightSm: 260px;

.divider {
  width: 100%;
  height: 2px;
  background-color: $primary;
}

.spinner {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: $danger-hover;
}

.profile-container {
  min-height: 100vh;
  transition: all 0.2s ease-in-out;

  .user-info-container {
    background-color: rgb(4, 44, 41);
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.381);
    transition: all 0.2s ease-in-out;

    .spinner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .user-info-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      transition: all 0.2s ease-in-out;

      .col1 {
        display: flex;
        width: 80%;
        transition: all 0.2s ease-in-out;

        .user-look {
          width: 150px;
          padding: 0 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: all 0.2s ease-in-out;

          .user-icon {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;

            .fa-circle-user {
              font-size: 5rem;
              color: $primary;
              transition: all 0.2s ease-in-out;
            }
          }

          .btn-primary {
            width: 120px;
            margin-top: 10px;
            height: 30px;
            text-transform: uppercase;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
          }
        }

        .user-info {
          #username {
            color: $primary;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: all 0.2s ease-in-out;
          }

          #email {
            margin-top: 5px;
            color: rgb(169, 169, 169);
            transition: all 0.2s ease-in-out;
          }

          #date {
            margin-top: 5px;
            color: rgb(154, 154, 154);
            transition: all 0.2s ease-in-out;

            em {
              font-size: small;
            }
          }
        }
      }

      .col2 {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        transition: all 0.2s ease-in-out;

        .account-btn {
          border: none;
          outline: none;
          background-color: $primary;
          width: 50px;
          height: 50px;
          box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.605);
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.1s ease-in-out;

          .fa-pencil {
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.696);
            transition: all 0.1s ease-in-out;
          }

          &:hover {
            background-color: $primary-hover;
            box-shadow: 0 14px 14px -4px rgba(0, 0, 0, 0.76);

            .fa-pencil {
              font-size: 1.6rem;
              color: rgb(0, 0, 0);
            }
          }
        }
      }
    }

    @media (min-width: 1920px) {
      .user-info-wrapper {
        .col1 {
          .user-look {
            width: 250px;
            padding: 0 15px;

            .user-icon {
              width: 200px;
              height: 200px;

              .fa-circle-user {
                font-size: 10rem;
              }
            }

            .btn-primary {
              width: 180px;
              height: 40px;
              font-size: 1.5rem;
            }
          }

          .user-info {
            #username {
              letter-spacing: 5px;
              font-size: 2.5rem;
            }

            #email {
              font-size: 1.5rem;
            }

            #date {
              font-size: 1.2rem;

              em {
                font-size: 1rem;
              }
            }
          }
        }

        .col2 {
          .account-btn {
            width: 80px;
            height: 80px;
            box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.605);

            .fa-pencil {
              font-size: 2rem;
            }

            &:hover {
              box-shadow: 0 22px 22px -4px rgba(0, 0, 0, 0.76);

              .fa-pencil {
                font-size: 2.2rem;
              }
            }
          }
        }
      }
    }

    @media (max-width: 800px) {
      width: 95%;
    }

    @media (max-width: 500px) {
      padding: 10px;

      .user-info-wrapper {
        flex-direction: column;

        .col1 {
          flex-direction: column;
          width: 100%;
          align-items: center;

          .user-look {
            width: 100%;
            padding: 0;

            &::after {
              content: "";
              width: 100%;
              height: 2px;
              background-color: rgba(86, 86, 86, 0.425);
              margin: 10px 0;
            }
          }

          .user-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }

        .col2 {
          margin-top: 50px;
        }
      }
    }
  }

  .rated-content-container {
    margin-top: 100px;
    height: 80vh;

    #title {
      margin: 10px;
      text-transform: capitalize;
      color: $primary;

      @media (max-width: 300px) {
        font-size: large;
      }
    }

    .rated-contents {
      padding: 40px 25px;
      display: flex;
      overflow-x: scroll;
      min-height: 200px;

      &::-webkit-scrollbar {
        display: none;
      }

      .content {
        width: $contentCardWidth;
        height: $contentCardHeight;
        background-color: rgb(4, 44, 41);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.315);
        transition: all 0.2s ease-in-out;

        &:not(:first-child) {
          margin-left: 20px;
        }

        &:hover {
          box-shadow: 0 0 25px rgba(4, 44, 41, 0.555);
        }

        .pulsing-img,
        .image {
          width: $contentCardWidth;
          height: $contentCardImageHeight;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .pulsing-img {
          background-image: url("@/assets/images/movie-poster-placeholder.png");
          background-position: center;
          background-size: cover;
          position: relative;

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(240, 248, 255, 0.4);
            animation: pulsing 2s ease-in-out infinite;
          }
        }

        .info {
          height: calc($contentCardHeight - $contentCardImageHeight);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .content-title {
            display: flex;
            align-items: center;

            #name {
              color: $primary;
              text-transform: capitalize;
            }

            #year {
              color: rgba(255, 255, 255, 0.519);
              font-size: small;
              margin-left: 5px;
            }

            &:hover {
              text-decoration: underline;
              text-decoration-color: $primary;
              cursor: pointer;
            }
          }

          .rating {
            width: 100%;
            color: black;
            display: flex;
            justify-content: space-around;
            margin-top: 15px;

            .avg-rating {
              display: flex;
              align-items: center;

              .star-solid {
                color: $warning;
                font-size: 1.2rem;
              }

              span {
                color: aliceblue;
                margin-left: 5px;

                em {
                  color: rgba(255, 255, 255, 0.519);
                  font-size: 0.9rem;
                }
              }
            }

            .user-rating {
              display: flex;
              align-items: center;

              .star-rated {
                color: $primary;
                font-size: 1.2rem;
                transition: all 0.2s ease-in-out;
              }

              span {
                color: aliceblue;
                margin-left: 5px;

                em {
                  color: rgba(255, 255, 255, 0.519);
                  font-size: 0.9rem;
                }
              }

              &:hover {
                cursor: pointer;

                .star-rated {
                  color: $primary-hover;
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: 1920px) {
      margin-top: 200px;
      height: 100vh;

      #title {
        font-size: 2.5rem;
      }

      .rated-contents {
        .content {
          width: $contentCardWidthLg;
          height: $contentCardHeightLg;
          box-shadow: 0 0 45px rgba(0, 0, 0, 0.315);

          .pulsing-img,
          .image {
            width: $contentCardWidthLg;
            height: $contentCardImageHeightLg;
          }

          .info {
            height: calc($contentCardHeightLg - $contentCardImageHeightLg);

            .content-title {
              #name {
                font-size: 1.5rem;
              }

              #year {
                font-size: large;
                margin-left: 10px;
              }
            }

            .rating {
              margin-top: 25px;

              .avg-rating {
                .star-solid {
                  font-size: 2rem;
                }

                span {
                  font-size: 1.3rem;

                  em {
                    font-size: 1.4rem;
                  }
                }
              }

              .user-rating {
                .star-rated {
                  font-size: 2rem;
                }

                span {
                  font-size: 1.3rem;

                  em {
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 800px) {
      .rated-contents {
        .content {
          width: $contentCardWidthSm;
          height: $contentCardHeightSm;

          .pulsing-img,
          .image {
            width: $contentCardWidthSm;
            height: $contentCardImageHeightSm;
          }

          .info {
            height: calc($contentCardHeightSm - $contentCardImageHeightSm);

            .content-title {
              flex-direction: column;

              #name {
                font-size: small;
              }

              #year {
                margin-top: 5px;
                margin-left: 0;
                font-size: 0.7rem;
              }
            }

            .rating {
              margin-top: 15px;

              .avg-rating {
                .star-solid {
                  font-size: 0.8rem;
                }

                span {
                  font-size: 0.7rem;

                  em {
                    font-size: 0.8rem;
                  }
                }
              }

              .user-rating {
                .star-rated {
                  font-size: 0.8rem;
                }

                span {
                  font-size: 0.7rem;

                  em {
                    font-size: 0.8rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .fav-content-container {
    margin-top: 100px;
    height: 80vh;

    #title {
      margin: 10px;
      text-transform: capitalize;
      color: $primary;

      @media (max-width: 300px) {
        font-size: large;
      }
    }

    .fav-contents {
      padding: 40px 25px;
      display: flex;
      overflow-x: scroll;
      min-height: 200px;

      &::-webkit-scrollbar {
        display: none;
      }

      .content {
        width: $contentCardWidth;
        height: $contentCardHeight;
        background-color: rgb(4, 44, 41);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.315);
        transition: all 0.2s ease-in-out;

        &:not(:first-child) {
          margin-left: 20px;
        }

        &:hover {
          box-shadow: 0 0 25px rgba(4, 44, 41, 0.555);
        }

        .pulsing-img,
        .image {
          width: $contentCardWidth;
          height: $contentCardImageHeight;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .pulsing-img {
          background-image: url("@/assets/images/movie-poster-placeholder.png");
          background-position: center;
          background-size: cover;
          position: relative;

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(240, 248, 255, 0.4);
            animation: pulsing 2s ease-in-out infinite;
          }
        }

        .info {
          height: calc($contentCardHeight - $contentCardImageHeight);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .content-title {
            display: flex;
            align-items: center;

            #name {
              color: $primary;
              text-transform: capitalize;
            }

            #year {
              color: rgba(255, 255, 255, 0.519);
              font-size: small;
              margin-left: 5px;
            }

            &:hover {
              text-decoration: underline;
              text-decoration-color: $primary;
              cursor: pointer;
            }
          }

          .fav-icon {
            margin-top: 10px;
            width: 50px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            .fa-heart {
              font-size: 1.5rem;
              color: $primary;
              cursor: pointer;
              transition: all 0.1s ease-in-out;
            }

            .heart-beat {
              animation: heart 400ms infinite;
            }

            &:hover {
              .fa-heart {
                color: $primary-hover;
                font-size: 1.6rem;
              }
            }

            @keyframes heart {
              0% {
                transform: scale(0.9);
                color: $primary;
              }
              50% {
                transform: scale(1);
                color: $primary-hover;
              }
              100% {
                transform: scale(0.9);
                color: $primary;
              }
            }
          }
        }
      }
    }

    @media (max-width: 800px) {
      margin-top: 50px;

      .fav-contents {
        .content {
          width: $contentCardWidthSm;
          height: $contentCardHeightSm;

          .pulsing-img,
          .image {
            width: $contentCardWidthSm;
            height: $contentCardImageHeightSm;
          }

          .info {
            height: calc($contentCardHeightSm - $contentCardImageHeightSm);

            .content-title {
              flex-direction: column;
              margin-top: 10px;

              #name {
                font-size: small;
              }

              #year {
                font-size: 0.7rem;
                margin-left: 0;
                margin-top: 5px;
              }
            }

            .fav-icon {
              width: 35px;
              height: 30px;

              .fa-heart {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }

    @media (min-width: 1920px) {
      margin-top: 200px;
      height: 100vh;

      #title {
        font-size: 2.5rem;
      }

      .fav-contents {
        .content {
          width: $contentCardWidthLg;
          height: $contentCardHeightLg;
          box-shadow: 0 0 45px rgba(0, 0, 0, 0.315);

          .pulsing-img,
          .image {
            width: $contentCardWidthLg;
            height: $contentCardImageHeightLg;
          }

          .info {
            height: calc($contentCardHeightLg - $contentCardImageHeightLg);

            .content-title {
              #name {
                font-size: 1.5rem;
              }

              #year {
                font-size: large;
                margin-left: 10px;
              }
            }

            .fav-icon {
              margin-top: 20px;
              width: 100px;
              height: 80px;

              .fa-heart {
                font-size: 3rem;
              }

              &:hover {
                .fa-heart {
                  font-size: 3.2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .user-comments-container {
    margin-top: 100px;
    height: 80vh;

    @media (max-width: 800px) {
      margin-top: 50px;
      height: 60vh;
    }

    #title {
      margin: 10px;
      text-transform: capitalize;
      color: $primary;

      @media (max-width: 300px) {
        font-size: large;
      }
    }

    .user-comments {
      padding: 40px 25px;
      display: flex;
      overflow-x: scroll;
      min-height: 200px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (min-width: 1920px) {
      margin-top: 200px;
      height: 80vh;

      #title {
        font-size: 2.5rem;
      }
    }
  }

  .user-lists-container {
    margin-top: 100px;
    height: 80vh;

    @media (max-width: 800px) {
      margin-top: 50px;
      height: 50vh;
    }

    .user-lists-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #title {
        margin: 10px;
        text-transform: capitalize;
        color: $primary;

        @media (max-width: 300px) {
          font-size: large;
        }
      }

      .add-btn {
        margin-right: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .fa-circle-plus {
          margin-right: 5px;
          font-size: 1.4rem;
        }

        &:hover {
          transition: all 0.2s ease-in-out;
          color: $primary;
        }
      }
    }

    .user-lists {
      padding: 40px 25px;
      display: flex;
      overflow-x: scroll;
      min-height: 200px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (min-width: 1920px) {
      margin-top: 200px;
      height: 60vh;

      .user-lists-header {
        #title {
          font-size: 2.5rem;
        }

        .add-btn {
          width: 200px;
          height: 40px;
          margin-right: 10px;
          font-size: 1.3rem;

          .fa-circle-plus {
            margin-right: 10px;
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

.profile-link {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;

  #link-text {
    font-weight: 400;
    color: $primary;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;

    em {
      width: 40px;
      font-weight: 900;
      padding: 5px;
      font-size: large;
      font-style: normal;
      text-align: center;
      position: relative;
      flex-direction: column;
      transition: all 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $primary-hover;
        transition: all 0.3s ease-in-out;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 1px;
        background-color: $primary-hover;
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {
      color: $primary-hover;
      cursor: pointer;

      em {
        background-color: rgb(4, 44, 41);

        &::before {
          content: "";
          width: 40px;
          height: 2px;
        }

        &::after {
          content: "";
          width: 40px;
          height: 2px;
        }
      }
    }
  }

  @media (min-width: 1920px) {
    #link-text {
      font-size: 1.5rem;

      em {
        width: 80px;
        font-size: 1.6rem;
      }

      &:hover {
        em {
          &::before {
            width: 80px;
          }

          &::after {
            width: 80px;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    #link-text {
      color: $primary-hover;
      cursor: pointer;

      em {
        background-color: rgb(4, 44, 41);
        margin: 0 5px;

        &::before {
          content: "";
          width: 40px;
          height: 2px;
        }

        &::after {
          content: "";
          width: 40px;
          height: 2px;
        }
      }
    }
  }
}
