.replies-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.707);

  .replies-modal-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 90vh;
    background-color: rgb(4, 44, 41);
    box-shadow: 0 0 28px rgba(5, 138, 127, 0.282);
    border-radius: 20px;
    border: 2px solid rgba(4, 86, 79, 0.559);
    border-top: 6px solid rgba(4, 86, 79, 0.559);

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .replies-header {
      display: flex;
      width: 100%;
      box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.266);
      height: 100px;
      position: relative;

      .close-icon {
        position: absolute;
        right: 0;
        margin: 5px;

        .fa-circle-xmark {
          font-size: 1.5rem;
          color: rgb(1, 192, 192);
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: rgb(1, 133, 133);
          }
        }
      }

      #comment {
        width: 95%;
        padding: 10px 0 10px 10px;
        font-size: 0.9rem;
        text-indent: 10px;
      }
    }

    .replies-body {
      height: 75vh;
      overflow-y: scroll;
      position: relative;

      &::-webkit-scrollbar {
        display: none;
      }

      .no-replies {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $danger-hover;
        text-transform: capitalize;
      }

      .reply {
        position: relative;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.642);
        padding: 10px;
        border-radius: 10px;

        &:not(:first-child) {
          margin-top: 20px;
        }

        .header {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          transition: all 0.2s ease-in-out;

          .header-col1 {
            display: flex;
            align-items: flex-end;
            transition: all 0.2s ease-in-out;

            .avatar {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $primary;
              color: black;
              display: flex;
              align-items: center;
              justify-content: center;
              text-transform: uppercase;
              font-size: 2rem;
              font-weight: bold;
              border: 1px solid aliceblue;
              transition: all 0.2s ease-in-out;
            }

            .inner-wrapper {
              margin-left: 10px;
              display: flex;
              align-items: center;
              transition: all 0.2s ease-in-out;

              #date {
                margin-left: 5px;
                color: gray;
                font-style: italic;
                transition: all 0.2s ease-in-out;
              }
            }
          }

          .header-col2 {
            display: flex;
            transition: all 0.2s ease-in-out;

            .edit {
              background-color: rgba(240, 248, 255, 0.03);
              margin-right: 20px;
              cursor: pointer;
              transition: all 0.2s ease-in-out;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.2s ease-in-out;

              .edit-icon {
                font-size: 1.2rem;
              }

              &:hover {
                background-color: rgba(240, 248, 255, 0.093);

                .edit-icon {
                  color: $warning;
                  transition: all 0.1s ease-in-out;
                  font-size: 1.1rem;
                }
              }
            }

            .delete {
              background-color: rgba(240, 248, 255, 0.03);
              cursor: pointer;
              transition: all 0.2s ease-in-out;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.2s ease-in-out;

              .del-icon {
                font-size: 1.2rem;
              }

              &:hover {
                background-color: rgba(240, 248, 255, 0.093);

                .del-icon {
                  color: $danger;
                  transition: all 0.1s ease-in-out;
                  font-size: 1.1rem;
                }
              }
            }
          }
        }

        hr {
          margin: 10px 0;
        }

        .body {
          display: flex;
          flex-direction: column;
          transition: all 0.2s ease-in-out;

          #reply-text {
            font-size: small;
            text-indent: 10px;
            padding: 0 10px;
            transition: all 0.2s ease-in-out;

            em {
              color: $primary;
              margin-right: 5px;
              font-size: medium;
            }
          }
        }
      }
    }

    @media (min-width: 1920px) {
      .replies-header {
        .close-icon {
          .fa-circle-xmark {
            font-size: 2rem;
          }
        }

        #comment {
          font-size: 1rem;
        }
      }

      .replies-body {
        .no-replies {
          font-size: 1.5rem;
        }

        .reply {
          .header {
            .header-col1 {
              .avatar {
                width: 60px;
                height: 60px;
                font-size: 3rem;
              }

              .inner-wrapper {
                #name {
                  font-size: 1.3rem;
                }

                #date {
                  font-size: 1rem;
                }
              }
            }

            .header-col2 {
              display: flex;
              transition: all 0.2s ease-in-out;

              .edit {
                background-color: rgba(240, 248, 255, 0.03);
                width: 60px;
                height: 60px;

                .edit-icon {
                  font-size: 1.7rem;
                }

                &:hover {
                  .edit-icon {
                    font-size: 1.6rem;
                    transition: all 0.1s ease-in-out;
                  }
                }
              }

              .delete {
                background-color: rgba(240, 248, 255, 0.03);
                width: 60px;
                height: 60px;

                .del-icon {
                  font-size: 1.5rem;
                }

                &:hover {
                  .del-icon {
                    font-size: 1.4rem;
                    transition: all 0.1s ease-in-out;
                  }
                }
              }
            }
          }

          .body {
            #reply-text {
              font-size: medium;

              em {
                font-size: large;
              }
            }
          }
        }
      }
    }

    @media (max-width: 900px) {
      width: 90%;

      .replies-header {
        #comment {
          width: 90%;
          font-size: 0.7rem;
        }
      }

      .replies-body {
        .reply {
          .header {
            .header-col1 {
              .avatar {
                width: 30px;
                height: 30px;
                font-size: 1.5rem;
              }

              .inner-wrapper {
                #name {
                  font-size: small;
                }
              }
            }
          }

          .body {
            #reply-text {
              font-size: 0.6rem;

              em {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }

    @media (max-width: 500px) {
      width: 100%;
      height: 100%;
      min-width: 240px;
      border-radius: unset;

      .replies-header {
        .close-icon {
          .fa-circle-xmark {
            font-size: 1.3rem;
          }
        }

        #comment {
          font-size: 0.6rem;

          @media (max-width: 300px) {
            font-size: 0.5rem;
          }
        }
      }

      .replies-body {
        height: calc(100vh - 100px);
        padding-bottom: 50px;

        .no-replies {
          font-size: small;
        }

        .reply {
          .header {
            flex-direction: column;
            align-items: center;

            .header-col1 {
              flex-direction: column;
              align-items: center;

              .avatar {
                width: 40px;
                height: 40px;
                font-size: 2rem;
              }

              .inner-wrapper {
                margin-left: 0;
                flex-direction: column;
                margin-top: 5px;

                #date {
                  margin-left: 0;
                  margin-top: 2px;
                }
              }
            }

            .header-col2 {
              margin-top: 10px;

              .edit {
                width: 35px;
                height: 35px;

                .edit-icon {
                  font-size: 1rem;
                  color: $warning;
                }

                &:hover {
                  .edit-icon {
                    font-size: 0.9rem;
                  }
                }
              }

              .delete {
                margin-left: 20px;
                width: 35px;
                height: 35px;

                .del-icon {
                  font-size: 1rem;
                  color: $danger;
                }

                &:hover {
                  .del-icon {
                    font-size: 0.9rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
