.replies-wrapper {
  margin-top: 30px;
  width: 80%;
  align-self: flex-end;
  padding-bottom: 40px;
  transition: all 0.2s ease-in-out;
  background-color: #252525a0;
  border-top-left-radius: 20px;
  box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.462);

  .show-replies-btn-wrapper {
    border-top: 1px solid gray;
    border-top-left-radius: 20px;
    transition: all 0.2s ease-in-out;
    position: relative;

    .show-replies-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      top: 10px;
      left: 10px;
      width: 200px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      .fa-caret-right,
      .fa-caret-down {
        font-size: 1.3rem;
        margin-right: 5px;
        color: $primary;
        transition: all 0.2s ease-in-out;
      }

      span {
        color: $primary;
        text-decoration: underline;
        text-transform: capitalize;
        transition: all 0.2s ease-in-out;
      }

      .fa-reply {
        margin-left: 5px;
        color: rgba(92, 146, 146, 0.982);
        font-size: 1.5rem;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        span {
          color: $primary-hover;
        }

        .fa-reply {
          color: $primary-hover;
        }
      }
    }

    .replies-count {
      position: absolute;
      right: 0;
      top: 0;
      margin: 5px 10px;
      color: rgba(240, 248, 255, 0.529);

      em {
        margin-right: 10px;
      }
    }
  }

  .input-wrapper {
    padding: 0 10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    textarea {
      border: none;
      outline: none;
      width: 80%;
      padding: 5px 10px;
      font-family: inherit;
      color: aliceblue;
      background-color: rgba(1, 56, 52, 0.975);
      border-radius: 10px;
      border: 3px solid rgba(2, 81, 76, 0.975);
      transition: all 0.2s ease-in;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.625);

      &:focus {
        background-color: rgba(1, 32, 30, 0.975);
        border: 3px solid rgba(6, 59, 55, 0.975);
        color: aliceblue;
        box-shadow: 0 0 20px rgba(2, 48, 48, 0.625);
      }
    }

    #add-reply-btn {
      border: none;
      outline: none;
      width: 140px;
      height: 45px;
      margin-left: 10px;
      border-radius: 10px;
      background-color: rgba(1, 56, 52, 0.975);
      border: 3px solid rgba(2, 81, 76, 0.975);
      color: $light;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-family: inherit;
      cursor: pointer;
      transition: all 0.2s ease-in;
      font-size: small;

      &:hover {
        background-color: rgba(2, 81, 76, 0.975);
        color: $lighter;
      }

      &:active {
        transform: scale(0.97);
        background-color: gray;
        border-color: gray;
      }

      &:disabled {
        background-color: rgba(1, 56, 52, 0.214);
        color: rgba(240, 248, 255, 0.097);
        border: 1px solid rgba(2, 81, 76, 0.233);
        cursor: default;

        &:hover {
          background-color: rgba(1, 56, 52, 0.214);
          color: rgba(240, 248, 255, 0.097);
        }

        &:active {
          transform: none;
          background-color: rgba(1, 56, 52, 0.214);
          border-color: rgba(2, 81, 76, 0.233);
        }
      }
    }
  }

  .replies {
    margin: 40px 0;
    transition: all 0.2s ease-in-out;

    .reply {
      position: relative;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.351);
      padding: 10px;
      border-radius: 10px;
      &:not(:first-child) {
        margin-top: 20px;
      }

      .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        transition: all 0.2s ease-in-out;

        .header-col1 {
          display: flex;
          align-items: flex-end;
          transition: all 0.2s ease-in-out;

          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $primary;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bold;
            border: 1px solid aliceblue;
            transition: all 0.2s ease-in-out;
          }

          .inner-wrapper {
            margin-left: 10px;
            display: flex;
            align-items: center;
            transition: all 0.2s ease-in-out;

            #date {
              margin-left: 5px;
              color: gray;
              font-style: italic;
              transition: all 0.2s ease-in-out;
            }
          }
        }

        .header-col2 {
          display: flex;
          transition: all 0.2s ease-in-out;

          .edit {
            margin-right: 20px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;

            &:hover {
              background-color: rgba(240, 248, 255, 0.093);

              .edit-icon {
                color: $warning;
                transition: all 0.2s ease-in-out;
              }
            }
          }

          .delete {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;

            &:hover {
              background-color: rgba(240, 248, 255, 0.093);

              .del-icon {
                color: $danger;
                transition: all 0.2s ease-in-out;
              }
            }
          }
        }
      }

      hr {
        margin: 10px 0;
      }

      .body {
        display: flex;
        flex-direction: column;
        transition: all 0.2s ease-in-out;

        #reply-text {
          font-size: small;
          text-indent: 10px;
          padding: 0 10px;
          transition: all 0.2s ease-in-out;

          em {
            color: $primary;
            margin-right: 5px;
            font-size: medium;
          }
        }

        .btn-primary {
          align-self: flex-end;
          margin-top: 30px;
          width: 65px;
          height: 25px;
          text-transform: uppercase;
          box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.693);

          span {
            font-size: small;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.677);
            transition: all 0.2s ease-in-out;
          }

          .fa-reply {
            font-size: 1rem;
            color: rgb(57, 57, 57);
            transition: all 0.2s ease-in-out;
          }

          &:hover {
            box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.693);

            span,
            .fa-reply {
              color: black;
            }
          }

          &:active {
            transform: scale(0.99);
            box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.693);

            span,
            .fa-reply {
              color: rgba(0, 0, 0, 0.421);
            }
          }
        }
      }

      .prompt-bg {
        background-color: rgba(0, 0, 0, 0.705);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        animation: fade 0.2s ease-in;

        .prompt-body {
          background-color: rgb(4, 44, 41);
          width: 60%;
          border-radius: 20px;
          border: 2px solid rgba(4, 86, 79, 0.559);
          border-top: 6px solid rgba(4, 86, 79, 0.559);
          padding: 20px;
          animation: zoom 0.2s ease-in;

          p {
            text-align: center;
            text-transform: capitalize;
            font-size: large;
          }

          .btns {
            margin-top: 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            button {
              border: none;
              outline: none;
              width: 150px;
              height: 30px;
              border-radius: 10px;
              font-family: inherit;
              font-size: medium;
              text-transform: uppercase;
              cursor: pointer;
              transition: all 0.2s ease-in-out;
              box-shadow: 0 6px 6px -4px black;
            }

            #yes {
              background-color: #07d1cd;
              color: rgba(0, 0, 0, 0.608);
              font-weight: 800;

              &:hover {
                box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.603);
                color: black;
                background-color: #0afffb;
              }

              &:active {
                transform: scale(0.97);
                background-color: #07d1ce84;
                color: rgba(0, 0, 0, 0.5);
                box-shadow: 0 6px 6px -4px black;
              }
            }

            #no {
              background-color: #edc531;
              color: rgba(0, 0, 0, 0.608);
              font-weight: 800;

              &:hover {
                box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.603);
                color: black;
                background-color: #ffca08;
              }

              &:active {
                transform: scale(0.97);
                background-color: #ffc90873;
                color: rgba(0, 0, 0, 0.5);
                box-shadow: 0 6px 6px -4px black;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1920px) {
    .show-replies-btn-wrapper {
      .show-replies-btn {
        width: 250px;

        .fa-caret-right,
        .fa-caret-down {
          font-size: 1.5rem;
        }

        span {
          font-size: 1.3rem;
        }

        .fa-reply {
          font-size: 2rem;
        }
      }

      .replies-count {
        font-size: 1.2rem;
        em {
          font-size: 1.3rem;
        }
      }
    }

    .input-wrapper {
      textarea {
        height: 100px;
        font-size: 0.9rem;
      }

      #add-reply-btn {
        width: 160px;
        font-size: 1rem;
      }
    }

    .replies {
      .reply {
        &:not(:first-child) {
          margin-top: 40px;
        }

        .header {
          .header-col1 {
            .avatar {
              width: 60px;
              height: 60px;
              font-size: 3rem;
            }

            .inner-wrapper {
              #name {
                font-size: 1.2rem;
              }

              #date {
                font-size: 0.8rem;
              }
            }
          }

          .header-col2 {
            .edit {
              background-color: rgba(240, 248, 255, 0.03);
              width: 60px;
              height: 60px;

              .edit-icon {
                font-size: 1.8rem;
              }

              &:hover {
                .edit-icon {
                  font-size: 1.7rem;
                  transition: all 0.1s ease-in-out;
                }
              }
            }

            .delete {
              background-color: rgba(240, 248, 255, 0.03);
              width: 60px;
              height: 60px;

              .del-icon {
                font-size: 1.5rem;
              }

              &:hover {
                background-color: rgba(240, 248, 255, 0.093);

                .del-icon {
                  font-size: 1.4rem;
                  transition: all 0.1s ease-in-out;
                }
              }
            }
          }
        }

        .body {
          #reply-text {
            font-size: medium;

            em {
              font-size: large;
            }
          }

          .btn-primary {
            width: 90px;
            height: 30px;

            span {
              font-size: medium;
            }

            .fa-reply {
              font-size: 1.5rem;
              margin-left: 5px;
            }
          }
        }

        .prompt-bg {
          .prompt-body {
            p {
              font-size: 1.3rem;
            }

            .btns {
              button {
                border: none;
                outline: none;
                width: 250px;
                height: 40px;
              }

              #yes {
                font-size: 1.3rem;
              }

              #no {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {
    margin-top: 20px;
    width: 80%;

    @media (max-width: 700px) {
      width: 100%;
    }

    .show-replies-btn-wrapper {
      @media (max-width: 700px) {
        border-radius: unset;
      }
      .show-replies-btn {
        width: 130px;

        .fa-caret-right,
        .fa-caret-down {
          font-size: 0.8rem;
          margin-right: 0;
        }

        span {
          font-size: 0.7rem;
        }

        .fa-reply {
          margin-left: 3px;
          font-size: 1rem;
        }
      }

      .replies-count {
        font-size: small;

        em {
          margin-right: 5px;
        }
      }
    }

    .replies {
      margin: 40px 0;
      transition: all 0.2s ease-in-out;

      .reply {
        position: relative;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.351);
        padding: 10px;
        border-radius: 10px;
        &:not(:first-child) {
          margin-top: 20px;
        }

        .header {
          .header-col1 {
            .avatar {
              width: 30px;
              height: 30px;
              font-size: 1.5rem;
              border: 1px solid rgba(240, 248, 255, 0.584);
            }

            .inner-wrapper {
              margin-left: 5px;

              #name {
                font-size: 0.7rem;
              }

              #date {
                margin-left: 2px;
                font-size: 0.6rem;
              }
            }
          }

          .header-col2 {
            .edit {
              margin-right: 10px;
              width: 30px;
              height: 30px;
              background-color: rgba(240, 248, 255, 0.093);

              .edit-icon {
                color: $warning;
                transition: all 0.2s ease-in-out;
                font-size: small;
              }
            }

            .delete {
              width: 30px;
              height: 30px;
              background-color: rgba(240, 248, 255, 0.093);

              .del-icon {
                color: $danger;
                transition: all 0.2s ease-in-out;
                font-size: small;
              }
            }
          }
        }

        .body {
          #reply-text {
            font-size: 0.7rem;
          }

          .btn-primary {
            margin-top: 20px;
            width: 55px;
            height: 20px;
            border-radius: 5px;

            span {
              font-size: 0.6rem;
            }

            .fa-reply {
              font-size: 0.7rem;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    border-top-left-radius: unset;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      textarea {
        width: 100%;
        height: 70px;
        border-radius: 5px;
      }

      #add-reply-btn {
        width: 100%;
        height: 30px;
        margin-left: 0;
        margin-top: 5px;
        border-radius: 5px;
        border: 2px solid rgba(2, 81, 76, 0.975);
        font-size: 0.7rem;
      }
    }

    .replies {
      .reply {
        .header {
          .header-col1 {
            .inner-wrapper {
              @media (max-width: 400px) {
                flex-direction: column;

                #date {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
