.comments-container {
  min-height: 60vh;
  margin: 200px 0 100px 0;

  .title {
    margin: 10px;
    color: $light;
  }

  .submit-comment {
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 40%;

    textarea {
      border: none;
      outline: none;
      padding: 5px 10px;
      font-family: inherit;
      color: aliceblue;
      background-color: rgba(1, 56, 52, 0.975);
      border-radius: 10px;
      border: 3px solid rgba(2, 81, 76, 0.975);
      transition: all 0.2s ease-in;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.625);

      &:focus {
        background-color: rgba(1, 32, 30, 0.975);
        border: 3px solid rgba(6, 59, 55, 0.975);
        color: aliceblue;
        box-shadow: 0 0 20px rgba(2, 48, 48, 0.625);
      }
    }

    .btn-primary {
      align-self: flex-start;
      margin-top: 10px;
      width: 200px;
      height: 40px;
      background-color: rgba(1, 56, 52, 0.975);
      border: 3px solid rgba(2, 81, 76, 0.975);
      color: $light;
      font-size: medium;

      &:hover {
        background-color: rgba(2, 81, 76, 0.975);
        color: $lighter;
      }

      &:active {
        transform: scale(0.97);
        background-color: gray;
        border-color: gray;
      }

      &:disabled {
        background-color: rgba(1, 56, 52, 0.214);
        color: rgba(240, 248, 255, 0.097);
        border: 1px solid rgba(2, 81, 76, 0.233);
        cursor: default;

        &:hover {
          background-color: rgba(1, 56, 52, 0.214);
          color: rgba(240, 248, 255, 0.097);
        }

        &:active {
          transform: none;
          background-color: rgba(1, 56, 52, 0.214);
          border-color: rgba(2, 81, 76, 0.233);
        }
      }
    }
  }

  .comments {
    width: 80%;
    margin: 0 10px;
    margin-top: 150px;

    .spinner {
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .comment {
      position: relative;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.351);
      display: flex;
      padding: 10px;
      min-height: 250px;
      border-radius: 10px;
      &:not(:first-child) {
        margin-top: 20px;
      }

      .col1 {
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid gray;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-size: 1.8rem;
          font-weight: bold;
        }

        #name {
          margin-top: 5px;
          text-transform: capitalize;
          text-align: center;
        }

        .icons {
          display: flex;
          margin-top: 20px;
          width: 100%;
          justify-content: space-around;

          .edit {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: rgba(240, 248, 255, 0.093);

              .edit-icon {
                color: $warning;
                transition: all 0.2s ease-in-out;
              }
            }
          }

          .delete {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: rgba(240, 248, 255, 0.093);

              .del-icon {
                color: $danger;
                transition: all 0.2s ease-in-out;
              }
            }
          }
        }

        #date {
          margin-top: 20px;
          font-size: small;
          text-align: center;
        }

        .btn-primary {
          margin-top: 30px;
          width: 80px;
          height: 30px;
          text-transform: uppercase;
          box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.693);

          span {
            font-weight: 800;
            color: rgba(0, 0, 0, 0.677);
            transition: all 0.2s ease-in-out;
          }

          .fa-reply {
            margin-left: 5px;
            font-size: 1.3rem;
            color: rgb(57, 57, 57);
            transition: all 0.2s ease-in-out;
          }

          &:hover {
            box-shadow: 0 12px 12px -4px rgba(0, 0, 0, 0.693);

            span,
            .fa-reply {
              color: black;
            }
          }

          &:active {
            box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.693);

            span,
            .fa-reply {
              color: rgba(0, 0, 0, 0.421);
            }
          }

          &:disabled {
            span {
              color: rgba(0, 0, 0, 0.314);
            }

            .fa-reply {
              color: rgba(15, 14, 14, 0.3);
            }

            &:active {
              span,
              .fa-reply {
                color: rgba(15, 14, 14, 0.314);
              }
            }
          }
        }
      }

      .divider {
        width: 2px;
        height: 250px;
        background-color: rgb(62, 62, 62);
        margin: 0 10px;
      }

      .col2 {
        flex: 1;
        display: flex;
        flex-direction: column;

        #description {
          min-height: 200px;
        }
      }
    }
  }

  @media (min-width: 1920px) {
    margin: 300px 0 100px 0;

    .submit-comment {
      textarea {
        font-size: 1.3rem;
      }

      .btn-primary {
        width: 300px;
        height: 50px;
        font-size: 1.3rem;
      }
    }

    .comments {
      .comment {
        min-height: 350px;

        .col1 {
          width: 220px;

          .avatar {
            width: 70px;
            height: 70px;
            font-size: 2.8rem;
          }

          #name {
            margin-top: 10px;
            font-size: 1.2rem;
          }

          .icons {
            .edit {
              width: 60px;
              height: 60px;
              background-color: rgba(240, 248, 255, 0.03);

              .edit-icon {
                font-size: 1.7rem;
              }

              &:hover {
                .edit-icon {
                  transition: all 0.1s ease-in-out;
                  font-size: 1.6rem;
                }
              }
            }

            .delete {
              width: 60px;
              height: 60px;
              background-color: rgba(240, 248, 255, 0.03);

              .del-icon {
                font-size: 1.6rem;
              }

              &:hover {
                .del-icon {
                  font-size: 1.5rem;
                  transition: all 0.1s ease-in-out;
                }
              }
            }
          }

          #date {
            font-size: 1rem;
          }

          .btn-primary {
            width: 120px;
            height: 40px;

            span {
              font-size: 1.1rem;
            }

            .fa-reply {
              font-size: 1.7rem;
            }
          }
        }

        .divider {
          height: 350px;
        }

        .col2 {
          #description {
            font-size: large;
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .title {
      font-size: large;
    }

    .submit-comment {
      width: 40%;
      height: 150px;

      @media (max-width: 600px) {
        width: 60%;
      }

      .btn-primary {
        width: 150px;
        height: 40px;
        border-radius: 5px;
        font-size: 0.7rem;
      }
    }

    .comments {
      width: 100%;
      margin-top: 100px;

      .comment {
        .col1 {
          width: 120px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .avatar {
            width: 30px;
            height: 30px;
            border: 1px solid gray;
            font-size: 1.5rem;
          }

          #name {
            font-size: 0.7rem;
          }

          .icons {
            margin-top: 10px;

            .edit {
              width: 30px;
              background-color: rgba(240, 248, 255, 0.093);
              height: 30px;

              .edit-icon {
                color: $warning;
                font-size: small;
              }
            }

            .delete {
              background-color: rgba(240, 248, 255, 0.093);
              width: 30px;
              height: 30px;

              .del-icon {
                color: $danger;
                transition: all 0.2s ease-in-out;
                font-size: small;
              }
            }
          }

          #date {
            margin-top: 10px;
            font-size: 0.7rem;
          }

          .btn-primary {
            margin-top: 30px;
            width: 60px;
            height: 30px;
            text-transform: uppercase;
            box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.693);

            span {
              font-size: 0.6rem;
            }

            .fa-reply {
              font-size: 1rem;
            }
          }
        }

        .divider {
          width: 1px;
          height: 250px;
          background-color: rgba(62, 62, 62, 0.721);
        }

        .col2 {
          #description {
            min-height: 150px;
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .title {
      font-size: large;
    }

    .submit-comment {
      width: 95%;
      margin: 0 auto;
      margin-top: 10px;

      .btn-primary {
        width: 100%;
        border-width: 1px;
      }
    }

    .comments {
      width: 100%;
      margin: 0;
      margin-top: 50px;

      .comment {
        flex-direction: column;
        border-radius: unset;

        .col1 {
          width: 100%;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          position: relative;

          .avatar {
            width: 30px;
            height: 30px;
            border: 1px solid gray;
            font-size: 1.4rem;
          }

          #name {
            font-size: 0.7rem;
            margin-left: 5px;
          }

          .icons {
            display: none;
          }

          #date {
            margin-top: 0;
            margin-left: 10px;
            font-size: 0.6rem;
          }

          .btn-primary {
            display: none;
          }

          .comment-option {
            position: absolute;
            right: 0;

            .option-icon {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.064);
              display: flex;
              align-items: center;
              justify-content: center;

              .fa-ellipsis-vertical {
                font-size: 1.3rem;
              }
            }

            .option-wrapper {
              position: absolute;
              top: 0;
              right: 100%;
              background-color: rgb(8, 28, 26);
              width: 100px;
              height: 80px;
              border-radius: 10px;
              margin-right: 2px;
              box-shadow: 0 0 12px rgba(0, 0, 0, 0.582);
              border: 2px solid rgb(9, 34, 31);
              display: flex;
              flex-direction: column;

              .edit {
                border: none;
                background-color: rgb(9, 37, 34);
                font-family: inherit;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                border-bottom: 1px solid rgba(240, 248, 255, 0.296);

                .fa-pencil {
                  color: $warning;
                }

                span {
                  text-transform: capitalize;
                  font-size: small;
                  color: $light;
                }

                &:active {
                  background-color: rgba(39, 50, 50, 0.505);
                  transform: scale(0.95);

                  .fa-pencil {
                    color: gray;
                  }

                  span {
                    color: gray;
                  }
                }
              }

              .delete {
                border: none;
                font-family: inherit;
                background-color: rgb(9, 37, 34);
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-top: 1px solid rgba(240, 248, 255, 0.296);

                .fa-trash {
                  color: $danger;
                }

                span {
                  text-transform: capitalize;
                  font-size: small;
                  color: $light;
                }

                &:active {
                  background-color: rgba(39, 50, 50, 0.505);
                  transform: scale(0.95);

                  .fa-trash {
                    color: gray;
                  }

                  span {
                    color: gray;
                  }
                }
              }
            }
          }
        }

        .divider {
          width: 100%;
          height: 2px;
          background-color: rgba(62, 62, 62, 0.588);
          margin: 10px 0;
        }

        .col2 {
          #description {
            padding: 0 10px;
            text-indent: 10px;
          }
        }
      }
    }
  }
}
