.reply-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.695);
  animation: fade 0.2s ease-in;

  .reply-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 450px;
    background-color: rgb(4, 44, 41);
    box-shadow: 0 0 28px rgba(5, 138, 127, 0.282);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border: 2px solid rgba(4, 86, 79, 0.559);
    border-top: 6px solid rgba(4, 86, 79, 0.559);
    transition: all 0.2s ease-in;
    animation: slideDown 0.2s ease-in;

    @media (max-width: 800px) {
      width: 90%;
    }

    .fa-circle-xmark {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
      font-size: 2rem;
      color: $primary;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $primary-hover;
      }
    }

    #title {
      i {
        color: $primary;
      }
    }

    textarea {
      border: none;
      outline: none;
      width: 80%;
      padding: 5px 10px;
      font-family: inherit;
      color: aliceblue;
      background-color: rgba(1, 56, 52, 0.975);
      border-radius: 10px;
      border: 3px solid rgba(2, 81, 76, 0.975);
      transition: all 0.2s ease-in;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.625);

      &:focus {
        background-color: rgba(1, 32, 30, 0.975);
        border: 3px solid rgba(6, 59, 55, 0.975);
        color: aliceblue;
        box-shadow: 0 0 20px rgba(2, 48, 48, 0.625);
      }
    }

    .btn-outline {
      width: 200px;
      height: 40px;
      background-color: rgba(1, 56, 52, 0.975);
      border: 3px solid rgba(2, 81, 76, 0.975);
      font-size: medium;

      &:hover {
        background-color: rgba(2, 81, 76, 0.975);
      }

      &:disabled {
        background-color: rgba(1, 56, 52, 0.214);
        color: rgba(240, 248, 255, 0.097);
        border: 1px solid rgba(2, 81, 76, 0.233);
        cursor: default;

        &:hover {
          background-color: rgba(1, 56, 52, 0.214);
          color: rgba(240, 248, 255, 0.097);
        }

        &:active {
          transform: none;
          background-color: rgba(1, 56, 52, 0.214);
          border-color: rgba(2, 81, 76, 0.233);
        }
      }
    }

    @media (min-width: 1920px) {
      width: 950px;
      height: 650px;

      .fa-circle-xmark {
        font-size: 2.5rem;
      }

      #title {
        font-size: 2rem;
      }

      textarea {
        font-size: 1.1rem;
      }

      .btn-outline {
        width: 300px;
        height: 50px;
        font-size: 1.3rem;
      }
    }

    @media (max-width: 500px) {
      width: 100%;
      height: 100%;
      min-width: 240px;
      border-radius: unset;

      .fa-circle-xmark {
        font-size: 1.5rem;
      }

      #title {
        font-size: medium;
      }

      textarea {
        border: none;
        outline: none;
        width: 95%;
        font-size: 0.7rem;
        border: 3px solid rgba(2, 81, 76, 0.975);
      }

      .btn-outline {
        width: 240px;
        height: 30px;
        font-size: small;
      }
    }
  }
}
