.home-nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  .page-links {
    .link {
      color: aliceblue;
      margin-left: 40px;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $primary-hover;
      }
    }
  }

  .auth {
    margin-right: 30px;

    .signed {
      display: flex;
      align-items: flex-end;
      position: relative;

      #username {
        color: $light;
        margin-right: 10px;
        text-transform: capitalize;
      }

      .box {
        border: 1px solid $light;
        width: 70px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        .user-icon {
          color: $light;
          width: 60%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          transition: all 0.2s ease-in-out;
        }

        .divider {
          width: 1px;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.204);
        }

        .caret-icon {
          color: $light;
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          background-color: rgba(240, 248, 255, 0.097);
          border-color: $primary;

          .user-icon {
            color: $lighter;
          }

          .caret-icon {
            color: $primary;
          }
        }
      }
    }

    .sign-in {
      border: 1px solid $light;
      width: 100px;
      height: 40px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      span {
        color: $light;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        background-color: rgba(240, 248, 255, 0.1);
        border-color: $lighter;

        span {
          color: $lighter;
        }
      }
    }
  }
}
